.additionalSectionWrapper {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.additionalSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.additionalItemsDivider {
  margin-top: 12px;
  margin-bottom: 0;
}

.formItem {
  margin-bottom: 0;
}

.languagesDeleteIconWrapper {
  margin-left: -60px;
}

.languagesDeleteIconWrapper :global(.ant-form-item-control-input-content) {
  display: flex;
}

.visibilityHidden {
  visibility: hidden;
}

.deleteIconDivider {
  margin-right: 12px;
}

.addAnotherButton {
  padding-left: 16px;
  padding-right: 16px;
}
